In [8]:
import pandas as pd
import numpy as np
import os

In [3]:
data = pd.read_excel('./Data/IRB1QM020003-a.xls')
list[data["<TICKER>"][:1]]

list[0    مظنه پذيره نويسي اوراق دولتي-ت
Name: <TICKER>, dtype: object]

In [4]:
data.loc[data["<TICKER>"] == "مظنه پذيره نويسي اوراق دولتي-ت"]

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<COST>,<Number_of_transactions>,<COl13>,<Jalali>
0,مظنه پذيره نويسي اوراق دولتي-ت,20191120,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980829
1,مظنه پذيره نويسي اوراق دولتي-ت,20191123,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980902
2,مظنه پذيره نويسي اوراق دولتي-ت,20191124,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980903
3,مظنه پذيره نويسي اوراق دولتي-ت,20191125,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980904
4,مظنه پذيره نويسي اوراق دولتي-ت,20191126,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980905
...,...,...,...,...,...,...,...,...,...,...,...
1055,مظنه پذيره نويسي اوراق دولتي-ت,20240415,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030127
1056,مظنه پذيره نويسي اوراق دولتي-ت,20240416,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030128
1057,مظنه پذيره نويسي اوراق دولتي-ت,20240417,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030129
1058,مظنه پذيره نويسي اوراق دولتي-ت,20240420,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030201
1059,مظنه پذيره نويسي اوراق دولتي-ت,20240421,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030202

# Iterate loop inside Directory

## Define MIN and MAX for Date

In [9]:
def time_intercept():
    """ This Function will return a 1-D  Array of numbers between maximum and minimum time """

    directory = os.fsencode("./Data")

    min = 13990101
    max = 14030203
    for file in os.listdir(directory):

        filename = os.fsdecode(file)

        try:
            temp_frame = pd.read_excel(f"./Data/{filename}")

            if min > temp_frame["<Jalali>"].min():
                min = temp_frame["<Jalali>"].min()

            if max < temp_frame["<Jalali>"].max():
                max = temp_frame["<Jalali>"].max()
        
        except:
            continue


    time_interval = np.arange(min, max, 1)


    return time_interval

In [11]:
time_interval = time_intercept()

array([13960105, 13960106, 13960107, ..., 14030200, 14030201, 14030202],
      dtype=int64)