In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
data = pd.read_excel('./Data/IRB1QM020003-a.xls')
list[data["<TICKER>"][:1]]

list[0    مظنه پذيره نويسي اوراق دولتي-ت
Name: <TICKER>, dtype: object]

In [5]:
data

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<COST>,<Number_of_transactions>,<COl13>,<Jalali>
0,مظنه پذيره نويسي اوراق دولتي-ت,20191120,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980829
1,مظنه پذيره نويسي اوراق دولتي-ت,20191123,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980902
2,مظنه پذيره نويسي اوراق دولتي-ت,20191124,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980903
3,مظنه پذيره نويسي اوراق دولتي-ت,20191125,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980904
4,مظنه پذيره نويسي اوراق دولتي-ت,20191126,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980905
...,...,...,...,...,...,...,...,...,...,...,...
1055,مظنه پذيره نويسي اوراق دولتي-ت,20240415,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030127
1056,مظنه پذيره نويسي اوراق دولتي-ت,20240416,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030128
1057,مظنه پذيره نويسي اوراق دولتي-ت,20240417,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030129
1058,مظنه پذيره نويسي اوراق دولتي-ت,20240420,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030201
1059,مظنه پذيره نويسي اوراق دولتي-ت,20240421,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030202

In [6]:
data

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<COST>,<Number_of_transactions>,<COl13>,<Jalali>
0,مظنه پذيره نويسي اوراق دولتي-ت,20191120,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980829
1,مظنه پذيره نويسي اوراق دولتي-ت,20191123,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980902
2,مظنه پذيره نويسي اوراق دولتي-ت,20191124,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980903
3,مظنه پذيره نويسي اوراق دولتي-ت,20191125,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980904
4,مظنه پذيره نويسي اوراق دولتي-ت,20191126,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980905
...,...,...,...,...,...,...,...,...,...,...,...
1055,مظنه پذيره نويسي اوراق دولتي-ت,20240415,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030127
1056,مظنه پذيره نويسي اوراق دولتي-ت,20240416,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030128
1057,مظنه پذيره نويسي اوراق دولتي-ت,20240417,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030129
1058,مظنه پذيره نويسي اوراق دولتي-ت,20240420,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030201
1059,مظنه پذيره نويسي اوراق دولتي-ت,20240421,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030202

In [7]:
data.loc[data["<TICKER>"] == "مظنه پذيره نويسي اوراق دولتي-ت"]

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<COST>,<Number_of_transactions>,<COl13>,<Jalali>
0,مظنه پذيره نويسي اوراق دولتي-ت,20191120,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980829
1,مظنه پذيره نويسي اوراق دولتي-ت,20191123,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980902
2,مظنه پذيره نويسي اوراق دولتي-ت,20191124,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980903
3,مظنه پذيره نويسي اوراق دولتي-ت,20191125,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980904
4,مظنه پذيره نويسي اوراق دولتي-ت,20191126,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,13980905
...,...,...,...,...,...,...,...,...,...,...,...
1055,مظنه پذيره نويسي اوراق دولتي-ت,20240415,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030127
1056,مظنه پذيره نويسي اوراق دولتي-ت,20240416,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030128
1057,مظنه پذيره نويسي اوراق دولتي-ت,20240417,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030129
1058,مظنه پذيره نويسي اوراق دولتي-ت,20240420,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030201
1059,مظنه پذيره نويسي اوراق دولتي-ت,20240421,0.0,0.0,0.0,1000000.0,0,0.0,0,1000000.0,14030202

# Iterate loop inside Directory

## Define MIN and MAX for Date

In [44]:
def time_intercept():
    """ This Function will return a 1-D  Array of numbers between maximum and minimum time """

    directory = os.fsencode("./test")

    min = 13990101
    max = 14030203
    for file in os.listdir(directory):

        filename = os.fsdecode(file)

        try:
            temp_frame = pd.read_excel(f"./test/{filename}")

            if min > temp_frame["<Jalali>"].min():
                min = temp_frame["<Jalali>"].min()

            if max < temp_frame["<Jalali>"].max():
                max = temp_frame["<Jalali>"].max()
        
        except:
            continue


    time_interval = np.arange(min, max, 1)


    return time_interval

In [14]:
time_interval = time_intercept()

In [45]:
def data_selection():
    """ This function will create a dataframe which include all selected columns of files"""
    time_interval = time_intercept()

    main_frame = pd.DataFrame(index=time_interval)

    directory = os.fsencode("./test")
    for file in os.listdir(directory):

        filename = os.fsdecode(file)
       
        try:   

            temp_frame = pd.read_excel(f"./test/{filename}")
            temp_frame.rename(columns={'<OPEN>': f'Open {file}'}, inplace=True)
            temp_frame.set_index('<Jalali>', inplace=True)
            
            main_frame = main_frame.merge(temp_frame[[f'Open {file}']], left_index=True, right_index=True )
            
        except:
            continue
        

        
    return main_frame

In [46]:
result = data_selection()

In [47]:
result

Empty DataFrame
Columns: [Open b'IRB3AF010785-a.xls', Open b'IRB3AF020784-a.xls', Open b'IRB3AF030783-a.xls', Open b'IRB3AH0106B5-a.xls', Open b'IRB3AH0206B3-a.xls', Open b'IRB3AI0107A3-a.xls', Open b'IRB3AK0106C7-a.xls', Open b'IRB3AL010258-a.xls', Open b'IRB3AL0205C5-a.xls', Open b'IRB3AM010679-a.xls', Open b'IRB3AN0106C1-a.xls', Open b'IRB3AR010765-a.xls', Open b'IRB3AR020764-a.xls', Open b'IRB3AR030763-a.xls', Open b'IRB3AR040762-a.xls', Open b'IRB3AR050761-a.xls', Open b'IRB3AT0106C8-a.xls', Open b'IRB3AU010620-a.xls', Open b'IRB3AU020660-a.xls', Open b'IRB3AV0105B8-a.xls', Open b'IRB3AV0205B6-a.xls', Open b'IRB3BE0106A2-a.xls', Open b'IRB3BK0199C0-a.xls', Open b'IRB3BL010364-a.xls', Open b'IRB3CJ0105C7-a.xls', Open b'IRB3DB010679-a.xls', Open b'IRB3DB020645-a.xls', Open b'IRB3DN010675-a.xls', Open b'IRB3DO010427-a.xls', Open b'IRB3DO0206A5-a.xls', Open b'IRB3DR010796-a.xls', Open b'IRB3DR020795-a.xls', Open b'IRB3DR030794-a.xls', Open b'IRB3DS010654-a.xls', Open b'IRB3DT0106A6-a.xls', Open b'IRB3DZ010432-a.xls', Open b'IRB3DZ020571-a.xls', Open b'IRB3EE010592-a.xls', Open b'IRB3EE0304A7-a.xls', Open b'IRB3EM010170-a.xls', Open b'IRB3EM020179-a.xls', Open b'IRB3EM030178-a.xls', Open b'IRB3EM0401A4-a.xls', Open b'IRB3EM0501A1-a.xls', Open b'IRB3EM0601A9-a.xls', Open b'IRB3EM0706C2-a.xls', Open b'IRB3EM0806C0-a.xls', Open b'IRB3EM0906C8-a.xls', Open b'IRB3EP010672-a.xls', Open b'IRB3FA010579-a.xls', Open b'IRB3FA020651-a.xls', Open b'IRB3FI0105B4-a.xls', Open b'IRB3FI0205B2-a.xls', Open b'IRB3FK010726-a.xls', Open b'IRB3FM0105C4-a.xls', Open b'IRB3FM0206A4-a.xls', Open b'IRB3FR010695-a.xls', Open b'IRB3FR020694-a.xls', Open b'IRB3FR030693-a.xls', Open b'IRB3GH019978-a.xls', Open b'IRB3GI010661-a.xls', Open b'IRB3GL0105A8-a.xls', Open b'IRB3GLGZ9628-a.xls', Open b'IRB3GR010512-a.xls', Open b'IRB3HE010672-a.xls', Open b'IRB3HH010372-a.xls', Open b'IRB3HI010173-a.xls', Open b'IRB3HS0106B7-a.xls', Open b'IRB3HT010675-a.xls', Open b'IRB3ID0105C7-a.xls', Open b'IRB3IL0105C0-a.xls', Open b'IRB3IS0100A0-a.xls', Open b'IRB3JH010651-a.xls', Open b'IRB3JH020650-a.xls', Open b'IRB3JH030659-a.xls', Open b'IRB3JH040658-a.xls', Open b'IRB3JPAZ9924-a.xls', Open b'IRB3KA010630-a.xls', Open b'IRB3KH010674-a.xls', Open b'IRB3KI010285-a.xls', Open b'IRB3KI0203B7-a.xls', Open b'IRB3KI030572-a.xls', Open b'IRB3KM019892-a.xls', Open b'IRB3KM0200B5-a.xls', Open b'IRB3KM030238-a.xls', Open b'IRB3KM040369-a.xls', Open b'IRB3KM050392-a.xls', Open b'IRB3KM060441-a.xls', Open b'IRB3KM070465-a.xls', Open b'IRB3KM080464-a.xls', Open b'IRB3KM090539-a.xls', Open b'IRB3KM100536-a.xls', Open b'IRB3KM1105C3-a.xls', Open b'IRB3KM1205C1-a.xls', Open b'IRB3KM1305C9-a.xls', Open b'IRB3KM1405C7-a.xls', Open b'IRB3KM1505C4-a.xls', Open b'IRB3KM1605C2-a.xls', Open b'IRB3KN0104B7-a.xls', Open b'IRB3KO019940-a.xls', ...]
Index: []

[0 rows x 1941 columns]